html,
body {
    /* margin: 0px;
    padding: 0px; */
    background-color: #58c5c0 !important;
    font-size: 12px;
}

a,
li>a {
    color: #58c5c0;
}

.main {
    margin-top: 40px;
    background-color: white;
    max-width: 960px;
    min-height: 100vh;
}

.nav-link {
    font-size: 12px;
    font-weight: bold;
    color: black !important;
}

.navbar-nav>.active>.nav-link {
    color: #58c5c0 !important;
}

.nav-link:hover {
    color: #58c5c0 !important;
}

.common-links {
    background-color: #323a45;
    border: solid #323a45;
}

.tutorial-links {
    background-color: #58c5c0;
    color: white;
}

.post-title>a {
    color: #58c5c0;
    font-size: 18px;
    font-weight: bold;
}

.post>* {
    color: #555;
}

.post>* a {
    color: #58c5c0;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.pages > * a {
    color: black;
}

.footer {
    color: #999;
}

.footer>* a {
    color: #58c5c0;
}

.copy-right {
    background-color: #58c5c0;
}

.copy-right {
    color: white;
}

.copy-right>a {
    color: #323A45;
}

.links>ul {
    list-style: none;
}

.links>ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}